services:
  pathless:
    image: timefactory/pathless
    container_name: pathless
    restart: unless-stopped
    networks:
      - timefactory

  demo:
    image: timefactory/demo
    container_name: demo
    restart: unless-stopped
    networks:
      - timefactory

networks:
  timefactory:
    driver: bridge
